.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* heading */
.portfolio span:nth-of-type(1) {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
}
.portfolio span:nth-of-type(2) {
  color: var(--orange);
  font-size: 2rem;
  font-weight: bold;
}

/* responsive */
@media screen and (max-width: 480px) {
  .portfolio {
    margin-top: 13rem;
  }
}


