.Skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.awesomeS {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
}

.awesomeS> :nth-child(1) {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bold;
}

.awesomeS> :nth-child(2) {
  color: var(--lightpurple);
  font-size: 2.5rem;
  font-weight: bold;
}

.sk-blur1 {
  top: -1rem;
  left: 38rem;
  filter: blur(100px);
}

.sk-blur2 {
  left: 14rem;
  top: 15rem;
  filter: blur(100px);
}

/* SkillCarousel.css */
.carousel-div {
 margin-top: 2rem;
}

.carousel-item {
  padding: 20px 0;
  /* background-color: pink; */
}

.cbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(187, 57, 219, 0.432);
  border: 1px solid #d886eb;
  border-radius: 8px;
  transition: 0.2s ease-in;
  /* margin-right: 5px; */
}

.cbox:hover {
  transform: scale(1.1);
}

.cbox img {
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.skill-name {
  font-size: 16px;
  font-weight: bold;
  color: var(--black);
}

@media screen and (max-width: 480px) {
  .Skills {
      /* margin-top: 16rem; */
      display: flex;
        flex-direction: column;
  }

  /* .awesomeS> :nth-child(3) {
      width: 300px;
  } */
}