.n-wrapper {
    /* height: 10vh; */
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #d886eb;
    border-top: 2px solid #d886eb;
    
  }
  .n-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
  }
  .n-name {
    font-size: 1.3rem;
    font-weight: bold;
  }
  .n-right {
    flex: 2;
  }

  .n-list > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
  }
  
  .n-list > ul :hover {
    color: var(--orange);
    cursor: pointer;
  }
  
  
  
  @media screen and (max-width: 480px) {
    .n-wrapper{
      padding: 0.5rem 0;
    }
    .n-left {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .n-right{
      display: none;
    }
  }